@import url("https://kckarnige.github.io/improved-ui/base.css");

:root {
  --titlebar-color: var(--background-secondary-alt) !important;
}

.window-title:after, .window-title:before {
    font-size: 14px !important;
}

.window-title {
    transform: translate(10px, 3px) !important;
}
