@import url("https://kckarnige.github.io/improved-ui/base.css");

.window-title:after, .window-title:before {
    font-size: 14px !important;
}

.window-title {
    transform: translate(10px, 3px) !important;
}

.platform-web .container-3baos1 {
    top: 30px !important;
}

.platform-web .guilds-1SWlCJ {
    margin-top: 72px !important;
}
