@import url('https://discord-addons.github.io/discord-addons/xcores/themes/RNT_Core.css'); /* <-- No Nitro */
@import url('https://discord-extensions.github.io/modern-indicators/support/compiled.css');
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url('https://discord-theme-addons.github.io/refined-user-connections/src/support/compiled.css');
@import url("https://kckarnige.is-a.dev/femboi_owo/discord-font.css");
@import url('https://kckarnige.is-a.dev/server-scroll/base.css');
@import url('https://kckarnige.is-a.dev/custom-server-logos/base.css');

/* === All snippets below belong to the GooseNest team === */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/variables.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/hardcoded.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/mentions.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/reactions.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/pfps.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/folders.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/inputs.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/svgs.css');
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/other.css');
/* ======================================================= */


:root { /* Preset Settings */
    --classic-blurple: #7289dafe;
    --blurple: #5865f2fe;
    --canary-gold: #efb65ffe;
    --greyple: #99aab5fe;
    --bingus-red: #be3c41fe;
    --bandaged-blue: #3e82e5fe;
    --ping-color: #f04747fe;
    --default-folder-color: #7289da;
}

:root { /* Radial Status CSS */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --container-color: var(--background-floating);
}

:root { /* Channel Indicator CSS */
    /* ---- base -- */
    --indicator-hovered: rgba(79, 84, 92, 0.25);
    --indicator-rounding: 0;
    --indicator-border-info: 2px solid;

    /* ---- selected -- */
    --indicator-selected: 112, 135, 215;
    --indicator-selected-border: rgba(var(--indicator-selected));
    --indicator-selected-background: rgba(var(--indicator-selected), 0.1);
    --indicator-selected-hover: rgba(var(--indicator-selected), 0.18);

    /* ---- unreads -- */
    --indicator-unread: 255, 255, 255;
    --indicator-unread-border: rgba(var(--indicator-unread), 0.6);
    --indicator-unread-background: rgba(var(--indicator-unread), 0.01);
    
    /* ---- connected -- */
    --indicator-connected: 67, 181, 129;
    --indicator-connected-border: rgba(var(--indicator-connected));
    --indicator-connected-background: rgba(var(--indicator-connected), 0.1);
    --indicator-connected-hover: rgba(var(--indicator-connected), 0.18);
}

:root {
    --old-green-transparent: #43b58133;
}

.homeIcon-r0w4ny > path {
    d: var(--home-icon) !important;
}

.side-2ur1Qk .item-3XjbnG {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2px;
    border-radius: var(--indicator-rounding);
}
	
.side-2ur1Qk .item-3XjbnG:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: var(--indicator-border-info) var(--indicator-unread-border);
}
	
.side-2ur1Qk .item-3XjbnG.selected-g-kMVV:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: var(--indicator-border-info) var(--indicator-selected-border) !important;
}

.side-2ur1Qk .item-3XjbnG.selected-g-kMVV {
	background: var(--indicator-selected-background) !important;
}

[aria-controls="discord-nitro-tab"].item-3XjbnG.selected-g-kMVV.themed-2-lozF,
[aria-controls="cumcord_plugins-tab"].item-3XjbnG.selected-g-kMVV.themed-2-lozF,
[data-item-id="pc-moduleManager-plugins"].item-3XjbnG.selected-g-kMVV.themed-2-lozF,
[data-item-id="theme-toggler"].item-3XjbnG.selected-g-kMVV.themed-2-lozF,
[aria-controls="plugins-tab"].item-3XjbnG.selected-g-kMVV.themed-2-lozF,
[aria-controls="subscriptions-tab"].item-3XjbnG.selected-g-kMVV.themed-2-lozF {
    background: #7289da !important;
    color: #fff !important;
}

[aria-controls="discord-nitro-tab"],
[aria-controls="cumcord_plugins-tab"],
[data-item-id="pc-moduleManager-plugins"],
[data-item-id="theme-toggler"],
[aria-controls="plugins-tab"],
[aria-controls="subscriptions-tab"] {
    color: #7289da !important;
}

[aria-controls="discord-nitro-tab"]:hover,
[aria-controls="cumcord_plugins-tab"]:hover,
[data-item-id="pc-moduleManager-plugins"]:hover,
[data-item-id="theme-toggler"]:hover,
[aria-controls="plugins-tab"]:hover,
[aria-controls="subscriptions-tab"]:hover {
    background: #7289da1a !important;
    color: #7289da !important;
}

.side-2ur1Qk [aria-controls="discord-nitro-tab"].item-3XjbnG.themed-2-lozF:hover:before,
.side-2ur1Qk [aria-controls="cumcord_plugins-tab"].item-3XjbnG.themed-2-lozF:hover:before,
.side-2ur1Qk [data-item-id="pc-moduleManager-plugins"].item-3XjbnG.themed-2-lozF:hover:before,
.side-2ur1Qk [data-item-id="theme-toggler"].item-3XjbnG.themed-2-lozF:hover:before,
.side-2ur1Qk [aria-controls="plugins-tab"].item-3XjbnG.themed-2-lozF:hover:before,
.side-2ur1Qk [aria-controls="subscriptions-tab"].item-3XjbnG.themed-2-lozF:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: var(--indicator-border-info) var(--indicator-selected-border) !important;
}

.premiumLabel-3HPvdB > svg {
    display: none;
}

.mention.iconMentionText-8GCluA {
  padding-left: 1.2rem !important;
}

/* Powercord Server CSS Snippet | https://discord.com/channels/538759280057122817/755005803303403570/902596695030919278 */
.dropperIconButton-2shYII {
    width: 69px; /* Discord uses this value too shut up */
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--main-color);
}
.expandedFolderIconWrapper-Huv7rA > svg[style="color: rgb(88, 101, 242);"] {
    color: var(--default-folder-color) !important;
}
  
.folderIconWrapper-1_bOZe[style="background-color: rgba(88, 101, 242, 0.4);"] {
    background-color: var(--default-folder-color) !important;
}

.colorPickerSwatch-5GX3Ve.default-cS_caM {
    background-color: var(--default-folder-color) !important;
}

.platform-win .container-3baos1 {
    top: 30px !important;
    margin-top: 10px !important;
}

.platform-win .guilds-1SWlCJ {
    margin-top: 2px !important;
}

/* Fixed "Add Friend" button to correct colors when selected */
.item-3HknzM.item-3XjbnG.themed-2-lozF[aria-selected="true"] {
    color: var(--old-green) !important;
    background-color: var(--old-green-transparent) !important;
}

/* Reverted the 'Invite People' server dropdown option */
.colorBrand-ROmMP1 {
    color: var(--brand-experiment);
}

/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
    opacity: 1 !important;
    transition: opacity .5s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
    transition: margin .5s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
    opacity: .35 !important;
    height: 138px;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] > [class*="bannerImage-"] {
    margin-top: -12px;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--main-color);
    color: #fff;
}

.childWrapper-anI2G9 {
    color: #fff;
    background-color: transparent;
}
    
.activeLink-22b0_I {
    background-color: var(--main-color) !important;
    color: #fff;
    transition:.3s;
}
    
.navLinkMedium-4MZo72 {
    transition:.2s;
}
    
.navLinkMedium-4MZo72:hover {
    background-color: #23272a
}
    
.filledBrand-pyfKOu {
    background: var(--main-color);
}
    
.filledBrand-pyfKOu:hover {
    background: var(--main-color);
    filter: brightness(75%);
    transition:.2s;
}

.header-2V-4Sw {
    z-index: 0;
}

.searchBar-6Kv8R2 {
    z-index: 0;
}
    
.themeDefault-24hCdX .input-rwLH4i:checked+.indicator-3onuwD {
    background-color: var(--main-color);
}
    
.wanderingCubesItem-WPXqao {
    background-color: var(--main-color);
}
    
.filledWhite-35QGck {
    background: var(--main-color);
    color: #fff;
}
    
.tipTitle-GL9qAt {
    color: var(--main-color);
}
    
.scrollableContainer-2NUZem {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 12px;
}
    
#app-mount .container-3baos1 .avatarWrapper-2yR4wp {
    background-color: transparent;
}
    
.scrollableContainer-2NUZem::-webkit-scrollbar {
  width: 0.4em;
  background: var(--scrollbar-thin-track);
  border-radius: 25px;
}
.scrollableContainer-2NUZem::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thin-thumb);
  border-radius: 25px;
}

.numberBadge-2s8kKX {
    background-color: var(--ping-color) !important;
}

.detailsInner-1VPlWl, .title-29uC1r {
    user-select: text !important;
    cursor: text !important;
}

::selection {
    background-color: var(--selector-color) !important;
    color: #fff !important;
}

.tooltipPrimary-1d1ph4, .tooltipBlack-PPG47z {
    background: var(--tooltip-color) !important;
    color: var(--tooltip-text-color) !important;
    font-weight: normal !important;
    z-index: 999 !important;
}

.tooltipPointer-3ZfirK {
    border-top-color: var(--tooltip-color) !important;
    z-index: 999 !important;
}

.tooltipContent-bqVLWK > .row-1c01mR.rowGuildName-2wU3B_ > .guildNameText-3Zwx4p.guildNameTextLimitedSize-1C5cx8 {
    color: var(--tooltip-text-color) !important;
    font-weight: normal !important;
    z-index: 1000 !important;
}

svg.mask-1qbNWk > rect[fill="rgba(59, 165, 92, 1)"] {
    fill: var(--old-green) !important;
}

svg.mask-1qbNWk > rect[fill="rgba(237, 66, 69, 1)"] {
    fill: var(--old-red) !important;
}

svg.mask-1qbNWk > rect[fill="rgba(250, 166, 26, 1)"] {
    fill: #faa61a !important;
}

#bd-pub-button {
    font-size: 0px;
}
#bd-pub-button:after {
    content: "Servers";
    display: flex;
    justify-content: center;
    position: relative;
    font-family: var(--font-primary) !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
}
#bd-pub-button:hover {
    font-family: var(--font-primary) !important;
    font-size: 0px;
    font-weight: 400;
    background: var(--brand-experiment);
}

.bd-addon-views .bd-view-button.selected, .bd-button:hover {
    background-color: var(--brand-experiment-560);
}

/* Bring popout closer to avatar :p */
#app-mount .container-3baos1 .nameTag-3uD-yy {
    left: 162px !important;
}

#app-mount .container-3baos1 .flex-1xMQg5 {
    left: calc(85% + 4px) !important;
}

a[href^="http://"] {
  color: #ff1111;
}

a[href^="http://"]:after {
  content: " [INSECURE]";
}

#bd-pub-button {
    font-size: 0px;
}
#bd-pub-button:after {
    content: "Servers";
    display: flex;
    justify-content: center;
    position: relative;
    font-family: var(--font-primary) !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
}
#bd-pub-button:hover {
    font-family: var(--font-primary) !important;
    font-size: 0px;
    font-weight: 400;
    background: var(--brand-experiment);
}

.bd-addon-views .bd-view-button.selected, .bd-button:hover {
    background-color: var(--brand-experiment-560);
}

[aria-label*="download"] .icon-2W8DHg, [aria-label*="releases"] .icon-2W8DHg, [aria-label*="verify"] .icon-2W8DHg, [aria-label*="verification"] .icon-2W8DHg, [aria-label*="guide"] .icon-2W8DHg, [aria-label*="tutorial"] .icon-2W8DHg {
    color: transparent !important;
}
[aria-label*="download"] .iconContainer-21RCa3:before, [aria-label*="releases"] .iconContainer-21RCa3:before {
    content: " ";
    -webkit-mask: url("https://kckarnige.is-a.dev/improved-ui/res/download-chan-icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    color: var(--text-muted);
    background-color: currentColor;
    height: 24px;
    width: 24px;
}
[aria-label*="download"] .iconContainer-21RCa3[aria-label*="(Limited)"]:before, [aria-label*="releases"] .iconContainer-21RCa3[aria-label*="(Limited)"]:before {
    content: " ";
    -webkit-mask: url("https://kckarnige.is-a.dev/improved-ui/res/priv-download-chan-icon.svg") !important;
    background-repeat: no-repeat;
    position: absolute;
    color: var(--text-muted);
    background-color: currentColor;
    height: 24px;
    width: 24px;
}
[aria-label*="verify"] .iconContainer-21RCa3:before, [aria-label*="verification"] .iconContainer-21RCa3:before {
    content: " ";
    -webkit-mask: url("https://kckarnige.is-a.dev/improved-ui/res/verify-chan-icon.svg") !important;
    background-repeat: no-repeat;
    position: absolute;
    color: var(--text-muted);
    background-color: currentColor;
    height: 24px;
    width: 24px;
}

[aria-label*="guide"] .iconContainer-21RCa3:before, [aria-label*="tutorial"] .iconContainer-21RCa3:before {
    content: " ";
    -webkit-mask: url("https://kckarnige.is-a.dev/improved-ui/res/guide-chan-icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    color: var(--text-muted);
    background-color: currentColor;
    height: 24px;
    width: 24px;
}
[aria-label*="guide"] .iconContainer-21RCa3[aria-label*="(Limited)"]:before, [aria-label*="tutorial"] .iconContainer-21RCa3[aria-label*="(Limited)"]:before {
    content: " ";
    -webkit-mask: url("https://kckarnige.is-a.dev/improved-ui/res/priv-guide-chan-icon.svg") !important;
    background-repeat: no-repeat;
    position: absolute;
    color: var(--text-muted);
    background-color: currentColor;
    height: 24px;
    width: 24px;
}

.modeUnread-1qO3K1 .iconContainer-21RCa3:before {
    color: var(--indicator-unread-icons,rgba(var(--indicator-unread,var(--fallback-unread)),.6)) !important;
}

.modeSelected-346R90 .iconContainer-21RCa3:before {
    color: var(--indicator-selected-border) !important;
}

.wrapper-3kah-n:hover, .blobContainer-ikKyFs.selected-3c78Ai .wrapper-3kah-n {
    background-color: var(--brand-experiment);
}
.wrapper-3kah-n {
    background-color: var(--background-primary);
}

[class*=tipTitle-] {
    color: var(--brand-experiment);
}

/* Fixes menu popups not being above all other elements */

.layer-v9HyYc {
    position: absolute;
    pointer-events: auto;
    z-index: 9999;
}

/* ======= For Desktop Users ======= */

/* ===== Discord Wordmark ===== */

[class*="wordmark-"] svg {
    width: 0px;
}

[class*="wordmark-"]::after {
    position: absolute;
    font-family: "Discordinated";
    content: var(--wordmark-text);
    top: 3px;
    font-size: 14px;
    font-weight: normal;
    color: var(--wordmark-text-color);
    height: 19px;
    width: 235px;
    transform: translateY(-8%);
    line-height: 20px;
}

/* ~ Cumcord Presents: The Cum Zone ~ */
.ysink_zone_header > h1 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: normal;
	text-transform: lowercase;
}
.ysink_zone_header > h1:before {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: normal;
	text-transform: lowercase;
	content: "* "
}
.ysink_zone_header > h1:after {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: normal;
	text-transform: lowercase;
	content: "."
}
div.colorStandard-2KCXvj.size14-e6ZScH.default-3nhoK-.formText-3fs7AJ.ysink_zone_ticker.modeDefault-3a2Ph1 > marquee {
	display: none;
}
	
div.colorStandard-2KCXvj.size14-e6ZScH.default-3nhoK-.formText-3fs7AJ.ysink_zone_ticker.modeDefault-3a2Ph1 {
	padding-bottom: 10px;
}
	
button.ysink_zone_button.button-38aScr.lookOutlined-3sRXeN.colorBrand-3pXr91.sizeTiny-EgeIrh.grow-q77ONN {
	border: none;
	background: var(--brand-experiment);
	color: #fff;
	text-align: center;
	width: 5rem;
	height: 2rem;
}
button.ysink_zone_button.button-38aScr.lookOutlined-3sRXeN.colorBrand-3pXr91.sizeTiny-EgeIrh.grow-q77ONN:hover {
	background: var(--brand-experiment-560);
}

button.ysink_zone_button.button-38aScr.lookOutlined-3sRXeN.colorGreen-29iAKY.sizeTiny-EgeIrh.grow-q77ONN {
	border: none;
	background: var(--old-green);
	color: #fff;
	text-align: center;
	width: 5rem;
	height: 2rem;
}
button.ysink_zone_button.button-38aScr.lookOutlined-3sRXeN.colorGreen-29iAKY.sizeTiny-EgeIrh.grow-q77ONN:hover {
	background: var(--old-green-hover0);
}
.ysink_zone_row {
	padding-bottom: 8px;
}

.ysink_zone_row {
	padding-bottom: 8px;
}
	
.ysink_zone_title {
	transform: translateY(15%);
}

/* ===== Native Windows Titlebar (From #css-snippets in the Powercord Server) ===== */

.platform-win .bg-1QIAus {
    top: -30px;
}

.platform-win .container-2RRFHK {
    padding-top: 30px;
    top: -30px;
}

.platform-win [class*="titleBar-"] {
    height: 30.3px;
    margin-top: 0;
}
.platform-win [class*="titleBar-"] [class*="wordmark-"] {
    top: 3.5px;
}
.platform-win [class*="titleBar-"] [class*="winButton-"] {
    transition: 150ms ease;
    height: 30px;
    width: 45px;
    top: 0;
}
.platform-win [class*="titleBar-"] [class*="winButtonClose-"]:hover {
    background-color: #e81123;
}
.platform-win [class*="titleBar-"] [class*="winButtonClose-"]:active {
    background-color: #f1707a;
    color: #000000cc;
}

/* My restore window icon (Thank you @aaronlink127#0127 and @Nao Tomori#1166 for helping out with CSS masks :D) */

.platform-win .maximized [aria-label="Maximize"] {
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.platform-win .maximized [aria-label="Maximize"]:before {
    content: " ";
    -webkit-mask: url('https://kckarnige.is-a.dev/improved-ui/res/restore.svg');
    background-repeat: no-repeat;
    position: fixed;
    color: var(--interactive-normal);
    background-color: currentColor;
    height: 12px;
    width: 12px;
}

/* ===== AccountSwitcher Password Input Box (Powercord Plugin) ===== */

.content-1LAB8Z.content-mK72R6.thin-1ybCId.scrollerBase-289Jih > input[type="password"] {
    background: var(--activity-card-background);
    border-style: none;
    border-radius: 5px;
    color: #fff;
}


/* === SVG Path Vars for Home Icon === */
:root {
    --classic-clyde: path("M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z");
    --rebrand-clyde: path("M 23.0212 1.67671 C 21.3107 0.879656 19.5079 0.318797 17.6584 0 C 17.4062 0.461742 17.1749 0.934541 16.9708 1.4184 C 15.003 1.12145 12.9974 1.12145 11.0283 1.4184 C 10.819 0.934541 10.589 0.461744 10.3368 0.00546311 C 8.48074 0.324393 6.67795 0.885118 4.96746 1.68231 C 1.56727 6.77853 0.649666 11.7538 1.11108 16.652 C 3.10102 18.1418 5.3262 19.2743 7.69177 20 C 8.22338 19.2743 8.69519 18.4993 9.09812 17.691 C 8.32996 17.3997 7.58522 17.0424 6.87684 16.6135 C 7.06531 16.4762 7.24726 16.3387 7.42403 16.1847 C 11.5911 18.1749 16.408 18.1749 20.5763 16.1847 C 20.7531 16.3332 20.9351 16.4762 21.1171 16.6135 C 20.41 17.0369 19.6639 17.3997 18.897 17.691 C 19.3052 18.4993 19.7718 19.2689 20.3021 19.9945 C 22.6677 19.2689 24.8929 18.1364 26.8828 16.6466 H 26.8893 C 27.43 10.9731 25.9665 6.04728 23.0212 1.67671 Z M 9.68041 13.6383 C 8.39754 13.6383 7.34085 12.4453 7.34085 10.994 C 7.34085 9.54272 8.37155 8.34973 9.68041 8.34973 C 10.9893 8.34973 12.0395 9.54272 12.0187 10.994 C 12.0187 12.4453 10.9828 13.6383 9.68041 13.6383 Z M 18.3161 13.6383 C 17.0332 13.6383 15.9765 12.4453 15.9765 10.994 C 15.9765 9.54272 17.0124 8.34973 18.3161 8.34973 C 19.6184 8.34973 20.6751 9.54272 20.6543 10.994 C 20.6543 12.4453 19.6184 13.6383 18.3161 13.6383 Z");
}  


/* === Extra Rebrand Revert CSS by me and some dude that made a pull request for the Goose Rebrand :) === */
[style*="background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);"] {
	background: var(--brand-experiment) !important;
}

/* Twitter Unicode Icon Support 😳 (TwitterChirp Icon) */
@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 200;
    src: local("Segoe UI Light");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: local("Segoe UI Bold");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}

body {
--font-primary: u1800,Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif,TwitterChirp,Segoe UI;
}
