@import url('https://tomrdh.github.io/discord-addons/xcores/themes/RNT_Core.css'); /* <-- No Nitro */
@import url("https://discord-theme-addons.github.io/compact-userarea/src/support/compiled.css");
@import url('https://discord-theme-addons.github.io/modern-channel-indicators/src/support/compiled.css');
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url('https://discord-theme-addons.github.io/refined-user-connections/src/support/compiled.css');
@import url("https://kckarnige.is-a.dev/custom-server-logos/base.css");
@import url("https://kckarnige.is-a.dev/femboi_owo/discord-font.css");
@import url('https://kckarnige.is-a.dev/server-scroll/base.css');
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/main.css");

:root { /* Preset Colors */
    --standard-blurple: #7289dafe;
    --canary-gold: #efb65ffe;
    --greyple: #99aab5fe;
    --bingus-red: #be3c41fe;
    --bandaged-blue: #3e82e5fe;
    --ping-color: #f04747fe;
    --default-folder-color: #7289da;
}

:root { /* Radial Status CSS */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --container-color: var(--background-floating);
}

:root { /* Channel Indicator CSS */
    /* ---- base -- */
    --indicator-hovered: rgba(79, 84, 92, 0.25);
    --indicator-rounding: 0;
    --indicator-border-info: 2px solid;

    /* ---- selected -- */
    --indicator-selected: 112, 135, 215;
    --indicator-selected-border: rgba(var(--indicator-selected));
    --indicator-selected-background: rgba(var(--indicator-selected), 0.1);
    --indicator-selected-hover: rgba(var(--indicator-selected), 0.18);

    /* ---- unreads -- */
    --indicator-unread: 255, 255, 255;
    --indicator-unread-border: rgba(var(--indicator-unread), 0.6);
    --indicator-unread-background: rgba(var(--indicator-unread), 0.01);
    
    /* ---- connected -- */
    --indicator-connected: 67, 181, 129;
    --indicator-connected-border: rgba(var(--indicator-connected));
    --indicator-connected-background: rgba(var(--indicator-connected), 0.1);
    --indicator-connected-hover: rgba(var(--indicator-connected), 0.18);
}

:root {
    --nitro-color: #7289DA;
    --nitro-bg-color: #7289DA29;
    --old-green-transparent: #43b58133;
}
.expandedFolderIconWrapper-Huv7rA > svg[style="color: rgb(88, 101, 242);"] {
    color: var(--default-folder-color) !important;
}
  
.folderIconWrapper-1_bOZe[style="background-color: rgba(88, 101, 242, 0.4);"] {
    background-color: var(--default-folder-color) !important;
}

.colorPickerSwatch-5GX3Ve.default-cS_caM {
    background-color: var(--default-folder-color) !important;
}

.platform-win .container-3baos1 {
    top: 30px !important;
    margin-top: 10px !important;
}

.platform-win .guilds-1SWlCJ {
    margin-top: 72px !important;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyBetween-2tTqYu.alignCenter-1dQNNs.noWrap-3jynv6 > svg.icon-Zc-uZZ, .premiumTabItem-1QTfBr.item-PXvHYJ.themed-OHr7kt {
    color: var(--nitro-color);
}

.premiumTabItem-1QTfBr.item-PXvHYJ.themed-OHr7kt:hover {
    background: var(--nitro-bg-color) !important;
}

.premiumTabItem-1QTfBr.item-PXvHYJ.selected-3s45Ha.themed-OHr7kt {
    background: var(--nitro-color) !important;
}

/* CSS Snippet by Freeplay#5676 from the Official Powercord Server https://discord.gg/gs4ZMbBfCh */
#private-channels > [class*="content-"] {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) {
    flex-grow: 1;
    margin-top: 8px !important; 
    margin-left: 0;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]):first-of-type {
    margin-left: 8px !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="layout-"] {
    justify-content: center;
    padding: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="avatar-"] {
    margin: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="content-"] {
    display: none;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="children-"] {
    position: absolute;
    transform: translate(4px, 8px);
    box-shadow: 0 0 0 3px var(--background-secondary);
    border-radius: 100px;
}
#private-channels > [class*="content-"] > h2 {
    width: 100%;
}
#private-channels > [class*="content-"] > a[href*="/channels/@me/"] {
    width: 100%;
}

/* Fixed "Add Friend" button to correct colors when selected */
.item-3HknzM.item-PXvHYJ.themed-OHr7kt[aria-selected="true"] {
    color: var(--old-green) !important;
    background-color: var(--old-green-transparent) !important;
}

/* Reverted the 'Invite People' server dropdown option */
.colorBrand-ROmMP1 {
    color: var(--brand-experiment);
}

/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
    opacity: 1 !important;
    transition: opacity .5s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
    transition: margin .5s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
    opacity: .35 !important;
    height: 138px;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] > [class*="bannerImage-"] {
    margin-top: -12px;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--main-color);
    color: #fff;
}

.childWrapper-anI2G9 {
    color: #fff;
    background-color: transparent;
}
    
.activeLink-22b0_I {
    background-color: var(--main-color) !important;
    color: #fff;
    transition:.3s;
}
    
.navLinkMedium-4MZo72 {
    transition:.2s;
}
    
.navLinkMedium-4MZo72:hover {
    background-color: #23272a
}
    
.filledBrand-pyfKOu {
    background: var(--main-color);
}
    
.filledBrand-pyfKOu:hover {
    background: var(--main-color);
    filter: brightness(75%);
    transition:.2s;
}

.header-2V-4Sw {
    z-index: 0;
}

.searchBar-6Kv8R2 {
    z-index: 0;
}
    
.themeDefault-24hCdX .input-rwLH4i:checked+.indicator-3onuwD {
    background-color: var(--main-color);
}
    
.wanderingCubesItem-WPXqao {
    background-color: var(--main-color);
}
    
.filledWhite-35QGck {
    background: var(--main-color);
    color: #fff;
}
    
.tipTitle-GL9qAt {
    color: var(--main-color);
}
    
.scrollableContainer-2NUZem {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 12px;
}
    
#app-mount .container-3baos1 .avatarWrapper-2yR4wp {
    background-color: transparent;
}
    
.scrollableContainer-2NUZem::-webkit-scrollbar {
  width: 0.4em;
  background: var(--scrollbar-thin-track);
  border-radius: 25px;
}
.scrollableContainer-2NUZem::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thin-thumb);
  border-radius: 25px;
}

.numberBadge-2s8kKX {
    background-color: var(--ping-color) !important;
}

.detailsInner-1VPlWl, .title-29uC1r {
    user-select: text !important;
    cursor: text !important;
}

::selection {
    background-color: var(--selector-color) !important;
    color: #fff !important;
}

.tooltipPrimary-1d1ph4, .tooltipBlack-PPG47z {
    background: var(--tooltip-color) !important;
    color: var(--tooltip-text-color) !important;
    font-weight: normal !important;
    z-index: 999 !important;
}

.tooltipPointer-3ZfirK {
    border-top-color: var(--tooltip-color) !important;
    z-index: 999 !important;
}

.tooltipContent-bqVLWK > .row-1c01mR.rowGuildName-2wU3B_ > .guildNameText-3Zwx4p.guildNameTextLimitedSize-1C5cx8 {
    color: var(--tooltip-text-color) !important;
    font-weight: normal !important;
    z-index: 1000 !important;
}
#app-mount .wrapper-3WhCwL {
    color: var(--brand-experiment);
    background: var(--brand-experiment-25a);
    text-decoration: none;
    border-radius: 4px;
    padding: 2px;
}

#app-mount .wrapper-3WhCwL:hover {
    color: #fff;
    background: var(--brand-experiment);
    text-decoration: none;
    transition: 0s;
}

svg.mask-1qbNWk > rect[fill="rgba(59, 165, 92, 1)"] {
    fill: var(--old-green) !important;
}

svg.mask-1qbNWk > rect[fill="rgba(237, 66, 69, 1)"] {
    fill: var(--old-red) !important;
}

svg.mask-1qbNWk > rect[fill="rgba(250, 166, 26, 1)"] {
    fill: #faa61a !important;
}

/* Bring popout closer to avatar :p */
#app-mount .container-3baos1 .nameTag-3uD-yy {
    left: 162px !important;
}

#app-mount .container-3baos1 .flex-1xMQg5 {
    left: calc(85% + 4px) !important;
}

a[href^="http://"] {
  color: #ff1111;
}

a[href^="http://"]:after {
  content: " [May be insecure, proceed at your own risk]";
}

a.embedLink-1G1K1D.embedTitle-3OXDkz[href^="http://"]:after {
    content: " [INSECURE]";
}

/* ======= For Desktop Users ======= */

/* ===== Discord Wordmark ===== */

.wordmark-2iDDfm svg {
    width: 0px;
}

.wordmark-2iDDfm::after {
    position: absolute;
    font-family: "Discordinated";
    content: var(--wordmark-text);
    top: 3px;
    font-size: 14px;
    font-weight: normal;
    color: var(--wordmark-text-color);
    height: 19px;
    width: 235px;
    transform: translateY(-8%);
    line-height: 20px;
}

/* ===== Native Windows Titlebar (From #css-snippets in the Powercord Server) ===== */

.platform-win .titleBar-AC4pGV {
    height: 30.3px;
    margin-top: 0;
}
.platform-win .titleBar-AC4pGV .wordmark-2iDDfm {
    top: 3.5px;
}
.platform-win .titleBar-AC4pGV .winButton-iRh8-Z {
    transition: 150ms ease;
    height: 30px;
    width: 45px;
    top: 0;
}
.platform-win .titleBar-AC4pGV .winButtonClose-1HsbF-:hover {
    background-color: #e81123;
}
.platform-win .titleBar-AC4pGV .winButtonClose-1HsbF-:active {
    background-color: #f1707a;
    color: #000000cc;
}

/* My restore window icon (Thank you @aaronlink127#0127 and @Nao Tomori#1166 for helping out with CSS masks :D) */

.platform-win .maximized [aria-label="Maximize"] {
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.platform-win .maximized [aria-label="Maximize"]:before {
    content: " ";
    -webkit-mask: url('https://kckarnige.is-a.dev/improved-ui/res/restore.svg');
    background-repeat: no-repeat;
    position: fixed;
    color: var(--interactive-normal);
    background-color: currentColor;
    height: 12px;
    width: 12px;
}

/* ===== AccountSwitcher Password Input Box ===== */

.content-1LAB8Z.content-mK72R6.thin-1ybCId.scrollerBase-289Jih > input[type="password"] {
    background: var(--activity-card-background);
    border-style: none;
    border-radius: 5px;
    color: #fff;
}
