 /* ==UserStyle==
@name         Improved Discord UI
@description  A simple UI improvement by KayoticCarnige
@author       KayoticCarnige
@namespace    https://github.com/kckarnige/improved-ui
@homepageURL  https://github.com/kckarnige/improved-ui
@version      2.2.4
@changelog    Removed the dynamic color themes
==/UserStyle== */
@-moz-document domain("discord.com") {
 
@import url('https://kckarnige.github.io/improved-ui/base.css');
  
/* Preset Colors: standard-blurple (Default) / canary-gold / greyple / bingus-red / bandaged-blue */
/* Example: --main-color: var(--custom-color); or --main-color: #7289dafe; (YOU MUST ADD 'FE' AT THE END OF YOUR HEX CODE) */
:root { 
    --main-color: var(--standard-blurple); 
    --ping-color: #f04747fe;
    --selector-color: var(--standard-blurple);
}
}
