 /* ==UserStyle==
@name         Improved Discord UI
@description  A simple, slightly customizable theme for Discord
@author       KayoticCarnige
@namespace    https://github.com/kckarnige/improved-ui
@homepageURL  https://kckarnige.is-a.dev/improved-ui
@version      2.3.1
==/UserStyle== */
@-moz-document domain("discord.com"), domain("dev.fosscord.com") {
 
@import url('https://kckarnige.is-a.dev/improved-ui/base.css');
  
/* Preset Colors: classic-blurple (Default) / blurple (Rebrand Version) / canary-gold / greyple / bingus-red / bandaged-blue */
/* Example: --main-color: var(--custom-color); or --main-color: #7289dafe; (YOU MUST ADD 'FE' AT THE END OF YOUR HEX CODE) */
:root { 
    --main-color: var(--classic-blurple); 
    --ping-color: #f04747fe;
    --selector-color: var(--main-color);
    --tooltip-color: var(--main-color);
    --tooltip-text-color: #fff;
    --default-folder-color: #7289DA;
    --home-icon: var(--classic-clyde) !important; /* DO NOT REMOVE '!important'! | '--rebrand-clyde' or '--classic-clyde' */
}
}
