@keyframes rainbow_animation {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

.wordmark-2iDDfm:after {
    background: linear-gradient(to right, #4848fffe, #00e1fffe, #20ff20fe, #eeff00fe, #ff9100fe, #ff3399fe, #4848fffe);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    animation: rainbow_animation linear 3s infinite;
    background-size: 200% 100%;
}